*.suo
*.backup
*.user
*.dbmdl
*.pptx
*.psess
*.orig
*.xml
*.~vsd
*.zip
*.sublime-project
*.sublime-workspace
*.exe
*.avi
*.mp4
*.mov
*.rar
*.mdf
*.ldf
**/nuspec.list
**/packages/
**/node_modules/
**/bower_components/
**/bin
**/obj
**/*.log.1
**/*.log.*
*.log
*.db
.vs/
**/docs/bet-radar/example/
**/*.override.config

!NuGet.exe
/src/GP.Baasic.Module.SyncServer.Console.Host/App.Ben.config
